body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    background-color: #ccc;
    height: 60px;
    font-family: 'Roboto', sans-serif;
}

#container {
    margin: 0 auto;
    width: 1400px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.clickable {
    border-radius: 5px;
    background-color: #eee;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: #258DB0;
}

/*********** HEADER ***********/
.header-item {
    margin-left: 20px;
    display: inline-block;
    margin-top: 5px;
    vertical-align: middle;
}

.mode-button {
    opacity: 0.5;
}

.mode-button:hover {
    opacity: 1;
}

.mode-button-active {
    opacity: 1;
}

#record-menu {
    margin-top: 5px;
    display: inline-block;
}

#replay-menu {
    margin-top: 5px;
    display: none;
}

.upload-item {
    display: inline-block;
    width: 170px;
}

#record-audio {
    margin-top: 10px;
}

#replay-audio {
    margin-top: 10px;
}

audio {
    width: 250px;
}

/*********** VIZ MENU **********/
#viz-menu {
    background-color: #eee;
    height: 30px;
}

#viz-menu-items {
    padding-top: 4px;
}

.viz-menu-item {
    margin-left: 20px;
}

.viz-menu-clickable {
    opacity: 0.5;
}

.viz-menu-clickable:hover {
    opacity: 1;
}

.viz-menu-clickable {
    cursor: pointer;
    color: #258DB0;
}

.viz-menu-active {
    opacity: 1;
}

/*********** MUSE STATUS ***********/

#muse-status {
    display: none;
}

.channelstatus {
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: green;
}

/*********** GRAPH ***********/

#graph-container {
    margin-top: 100px;
    padding: 10px;
    color: #eee;
}

#graph-container ul {
    list-style-type: none;
    margin-left: -20px;
}

#graph-container li {
    cursor: pointer;
}

#graph {
    display: inline-block;
}

.graph-labels {
    display: none;
    vertical-align: top;
}

#graph-description {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    margin-left: 15px;
}

/*********** EMOJI ***********/
.emoji {
    height: 400px;
    vertical-align: bottom;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0;
}

#emoji-container {
    width: 85%;
    margin-top: 160px;
}

/*********** EMOJI ***********/
#swirl-container {
    margin-top: 80px;
}

/*********** COLORS ***********/
/*
 * pale blue: rgba(128, 201, 232, 1) or #80C9E8
 * olive green: rgba(141, 186, 106, 1) #8DBA6A
 * gold: rgba(218, 198, 0, 1) #dac600
 */

.gradient-pale-blue{
    background-color:#fff;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#80C9E8), to(#fff));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-radial-gradient(circle, #80C9E8, #fff);/* Safari 5.1+, Chrome 10+ */
    background: -moz-radial-gradient(circle, #80C9E8, #fff);/* Firefox 3.6+ */
    background: -ms-radial-gradient(circle, #80C9E8, #fff);/* IE 10 */
}

.gradient-olive-green{
    background-color:#fff;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#6DA662), to(#fff));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-radial-gradient(circle, #6DA662, #fff);/* Safari 5.1+, Chrome 10+ */
    background: -moz-radial-gradient(circle, #6DA662, #fff);/* Firefox 3.6+ */
    background: -ms-radial-gradient(circle, #6DA662, #fff);/* IE 10 */
}

.gradient-blue{
    background-color:#fff;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#0337f4), to(#fff));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-radial-gradient(circle, #0337f4, #fff);/* Safari 5.1+, Chrome 10+ */
    background: -moz-radial-gradient(circle, #0337f4, #fff);/* Firefox 3.6+ */
    background: -ms-radial-gradient(circle, #0337f4, #fff);/* IE 10 */
}
.gradient-green{
    background-color:#fff;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#0fc600), to(#fff));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-radial-gradient(circle, #0fc600, #fff);/* Safari 5.1+, Chrome 10+ */
    background: -moz-radial-gradient(circle, #0fc600, #fff);/* Firefox 3.6+ */
    background: -ms-radial-gradient(circle, #0fc600, #fff);/* IE 10 */
}

.gradient-yellow{
    background-color:#fff;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#dac600), to(#fff));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-radial-gradient(circle, #dac600, #fff);/* Safari 5.1+, Chrome 10+ */
    background: -moz-radial-gradient(circle, #dac600, #fff);/* Firefox 3.6+ */
    background: -ms-radial-gradient(circle, #dac600, #fff);/* IE 10 */
}

.gradient-orange{
    background-color:#fff;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#f68200), to(#fff));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-radial-gradient(circle, #f68200, #fff);/* Safari 5.1+, Chrome 10+ */
    background: -moz-radial-gradient(circle, #f68200, #fff);/* Firefox 3.6+ */
    background: -ms-radial-gradient(circle, #f68200, #fff);/* IE 10 */
}

.gradient-red{
    background-color:#fff;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#f72b00), to(#fff));/* Safari 4-5, Chrome 1-9 */
    background: -webkit-radial-gradient(circle, #f72b00, #fff);/* Safari 5.1+, Chrome 10+ */
    background: -moz-radial-gradient(circle, #f72b00, #fff);/* Firefox 3.6+ */
    background: -ms-radial-gradient(circle, #f72b00, #fff);/* IE 10 */
}

.color {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}
