body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    background-color: #ccc;
    height: 60px;
    font-family: 'Roboto', sans-serif;
}

#container {
    margin: auto;
    margin-left: 30px;
    margin-top: 15px;
    width: 1100px;
    font-family: 'Roboto', sans-serif;
}

.clickable {
    border-radius: 5px;
    background-color: #eee;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/*********** HEADER ***********/
.header-item {
    margin-left: 20px;
    display: inline-block;
    margin-top: 5px;
    vertical-align: middle;
}

#record-menu {
    margin-top: 5px;
    display: inline-block;
}

#replay-menu {
    margin-top: 5px;
    display: none;
}

.upload-item {
    display: inline-block;
    width: 170px;
}

#record-audio {
    margin-top: 10px;
}

#replay-audio-player {
    opacity: 0;
    width: 0;
    height: 0;
}

audio {
    width: 250px;
}

/*********** GRAPH ***********/

.graph-container {
    padding: 10px;
    color: #eee;
}

.graph-container ul {
    list-style-type: none;
    margin-left: -20px;
}

.graph-container li {
    cursor: pointer;
}

#graph {
    display: inline-block;
}

.graph-labels {
    display: none;
    vertical-align: top;
}

#graph-description {
    margin-top: 10px;
    display: inline-block;
    width: 150px;
    vertical-align: top;
    margin-left: 10px;
}

/*********** MUSE STATUS ***********/

#muse-status {
    display: none;
}

.channelstatus {
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: green;
}
